body { margin:0 auto; width:1024px; }

.hide { display:none; }
.show { display:block; }
.fl-left { float:left; }
.fifty { width:50%; }

#layout { background-color:rgba(90, 160, 100, .8); position:relative; }
#wheel {
    background:url(/pub/img/wheel.png) no-repeat 0 0 transparent;
    -webkit-background-size: 100px;
    -moz-background-size: 100px;
    -o-background-size: 100px;
    height:100px;
    width:100px;
    position:absolute;
    left:0;
    top:0;
}
#wheel.spin {
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -webkit-transform: rotate(720deg) scale(1);
    -moz-transform: rotate(720deg) scale(1);
    -o-transform: rotate(720deg) scale(1)
}
table { margin:0 auto; }
#main_table {
    moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);  
}
#three_wide { left:181px; position:absolute; top:238px; }
#six_wide { left:136px; position:absolute; top:265px; }
td { border:2px solid #fff; color:#fff; cursor:pointer; position:relative; text-align:center; }
.yellow { color:rgba(255, 255, 0, .8); }
.green { background-color:rgba(90, 160, 100, .8); }
.black { background-color:black; }
.red { background-color:red; }
.chip { border-color:black; }
.result { border-color:rgba(255, 128, 64, .8); }

#results { height:245px; overflow:auto; width:140px; }
