body { margin:0 auto; width:1024px; }

.hide { display:none; }
.show { display:block; }

#layout { background-color:#5aa064; position:relative; }
#wheel {
    background:url(/pub/img/wheel.png) no-repeat 0 0 transparent;
    -webkit-background-size: 100px;
    -moz-background-size: 100px;
    -o-background-size: 100px;
    height:100px;
    width:100px;
    position:absolute;
    left:0;
    top:0;
}
#wheel.spin {
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -webkit-transform: rotate(720deg) scale(1);
    -moz-transform: rotate(720deg) scale(1);
    -o-transform: rotate(720deg) scale(1)
}
table { margin:0 auto; }
#main_table {
    moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);  
}
td { border:2px solid #fff; color:#fff; cursor:pointer; position:relative; text-align:center; }
.green { background-color:green; }
.black { background-color:black; }
.red { background-color:red; }
.chip { border-color:black; }
.result { border-color:orange; }
